server:
  address: 0.0.0.0
  port: 8080
  servlet:
    context-path: /app
spring:
  datasource:
    url: jdbc:postgresql://dpg-d4ikios9c44c73aubcdg-a.singapore-postgres.render.com:5432/selfcare_db?sslmode=require
    username: selfcare_db_user
    password: VpMQyjB00GbI1LVKF0lr0TjymWmYac1y
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: "sangletop125@gmail.com"
    password: "rshz pojo oczc dcbh"
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: localhost
      port: 6379
jwt:
  signerKey: "HAGUOt0Qm87yn2SFEfjlVRM3chXO/Wpy1YnsdZQz2O7+S4dPFiTQvpxHVVLE6r+c"


file:
  upload-dir: uploads/

cloudinary:
  cloud-name: "dg9ke49vm"
  api-key: "958314775373525"
  api-secret: "eZpxIv1RZm4k5QzEiSgz1iUmQIQ"
