<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_selfCare" >
        <activity
            android:name=".upload.Avatar"
            android:exported="false" />
        <activity
            android:name=".upload.upload_Avatar"
            android:exported="false"
            android:theme="@style/Theme.App_selfCare" />
        <activity
            android:name=".WorkoutTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutDetailActivity"
            android:exported="false" />
        <activity
            android:name=".WorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".ManageFoodActivity"
            android:exported="false" />
        <activity
            android:name=".ManageExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ManageNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="false" /> <!-- ONBOARDING -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Onboarding2Activity"
            android:exported="false" />
        <activity
            android:name=".Onboarding3Activity"
            android:exported="false" />
        <activity
            android:name=".Onboarding4Activity"
            android:exported="false" /> <!-- AUTH -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword_confirm"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" /> <!-- INFO USER -->
        <activity
            android:name=".upload.InforAge"
            android:exported="false" />
        <activity
            android:name=".upload.InforGoal"
            android:exported="false" />
        <activity
            android:name=".upload.InforHeight"
            android:exported="false" />
        <activity
            android:name=".upload.InforSex"
            android:exported="false" />
        <activity
            android:name=".upload.InforWeight"
            android:exported="false" /> <!-- MAIN APP -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeHomeActivity"
            android:exported="false" />
        <activity
            android:name=".RecipeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SavedRecipesActivity"
            android:exported="false" />
        <activity
            android:name=".Onboarding1Activity"
            android:exported="false" />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
    </application>

</manifest>